<!DOCTYPE HTML>
<html>

<head>
    <title>Couponia - Index coupon layout 1</title>
    <!-- meta info -->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="Koupon HTML5 Template" />
    <meta name="description" content="Koupon - Premiun HTML5 Template for Coupons Website">
    <meta name="author" content="Tsoy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="/Content/css/boostrap.css">
    <!-- Font Awesome styles (icons) -->
    <link rel="stylesheet" href="/Content/css/font_awesome.css">
    <!-- Main Template styles -->
    <link rel="stylesheet" href="/Content/css/styles.css">
    <!-- IE 8 Fallback -->
    <!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="css/ie.css" />
<![endif]-->

    <!-- Your custom styles (blank file) -->
    <link rel="stylesheet" href="/Content/css/mystyles.css">
</head>

<body class="boxed bg-cover" style="background-image: url(/Content/img/backgrounds/wood.jpg)">


    <div class="global-wrap">


        <!-- //////////////////////////////////
	//////////////MAIN HEADER///////////// 
	////////////////////////////////////-->
        <header class="main main-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <a href="index.html" class="logo">
                            <img src="/Content/img/logo-small-dark.png" alt="Image Alternative text" title="Image Title" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <div class="flexnav-menu-button" id="flexnav-menu-button">Menu</div>
                        <nav>
                            <ul class="nav nav-pills flexnav" id="flexnav" data-breakpoint="800">
                                <li class="active"><a href="index.html">Home</a>
                                    <ul>
                                        <li><a href="index-shop-layout-1.html">Shop Layout</a>
                                            <ul>
                                                <li><a href="index-shop-layout-1.html">Layout 1</a>
                                                </li>
                                                <li><a href="index-shop-layout-2.html">Layout 2</a>
                                                </li>
                                                <li><a href="index-shop-layout-3.html">Layout 3</a>
                                                </li>
                                                <li><a href="index-shop-layout-4.html">Layout 4</a>
                                                </li>
                                                <li><a href="index-shop-layout-5.html">Layout 5</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="active"><a href="index-coupon-layout-1.html">Coupon Layout</a>
                                            <ul>
                                                <li class="active"><a href="index-coupon-layout-1.html">Layout 1</a>
                                                </li>
                                                <li><a href="index-coupon-layout-2.html">Layout 2</a>
                                                </li>
                                                <li><a href="index-coupon-layout-3.html">Layout 3</a>
                                                </li>
                                                <li><a href="index.html">Layout 4</a>
                                                </li>
                                                <li><a href="index-coupon-layout-5.html">Layout 5</a>
                                                </li>
                                                <li><a href="index-coupon-layout-6.html">Layout 6</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="index-header-layout-1.html">Headers</a>
                                            <ul>
                                                <li><a href="index-header-layout-1.html">Layout 1</a>
                                                </li>
                                                <li><a href="index-header-layout-2.html">Layout 2</a>
                                                </li>
                                                <li><a href="index-header-layout-3.html">Layout 3</a>
                                                </li>
                                                <li><a href="index-header-layout-4.html">Layout 4</a>
                                                </li>
                                                <li><a href="index-header-layout-5.html">Layout 5</a>
                                                </li>
                                                <li><a href="index-header-logged-user.html">Logged User</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="category-page-shop.html">Category</a>
                                    <ul>
                                        <li><a href="category-page-shop.html">Shop</a>
                                        </li>
                                        <li><a href="category-page-coupon.html">Coupon</a>
                                        </li>
                                        <li><a href="category-page-thumbnails-shop-layout-1.html">Thumbnails</a>
                                            <ul>
                                                <li><a href="category-page-thumbnails-shop-layout-1.html">Shop</a>
                                                    <ul>
                                                        <li><a href="category-page-thumbnails-shop-layout-1.html">Layout 1</a>
                                                        </li>
                                                        <li><a href="category-page-thumbnails-shop-layout-2.html">Layout 2</a>
                                                        </li>
                                                        <li><a href="category-page-thumbnails-shop-layout-3.html">Layout 3</a>
                                                        </li>
                                                        <li><a href="category-page-thumbnails-shop-layout-4.html">layout 4</a>
                                                        </li>
                                                        <li><a href="category-page-thumbnails-shop-layout-5.html">Layout 5</a>
                                                        </li>
                                                        <li><a href="category-page-thumbnails-shop-layout-6.html">Layout 6</a>
                                                        </li>
                                                        <li><a href="category-page-thumbnails-shop-horizontal.html">Horizontal</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><a href="category-page-thumbnails-coupon-layout-1.html">Coupon</a>
                                                    <ul>
                                                        <li><a href="category-page-thumbnails-coupon-layout-1.html">Layout 1</a>
                                                        </li>
                                                        <li><a href="category-page-thumbnails-coupon-layout-2.html">Layout 2</a>
                                                        </li>
                                                        <li><a href="category-page-thumbnails-coupon-layout-3.html">Layout 3</a>
                                                        </li>
                                                        <li><a href="category-page-thumbnails-coupon-layout-4.html">Layout 4</a>
                                                        </li>
                                                        <li><a href="category-page-thumbnails-coupon-layout-5.html">Layout 5</a>
                                                        </li>
                                                        <li><a href="category-page-thumbnails-coupon-layout-6.html">Layout 6</a>
                                                        </li>
                                                        <li><a href="category-page-thumbnails-coupon-layout-7.html">Layout 7</a>
                                                        </li>
                                                        <li><a href="category-page-thumbnails-coupon-layout-8.html">Layout 8</a>
                                                        </li>
                                                        <li><a href="category-page-thumbnails-coupon-horizontal.html">Horizontal</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><a href="category-page-thumbnails-breadcrumbs.html">Breadcrumbs</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="product-shop-sidebar.html">Product </a>
                                    <ul>
                                        <li><a href="product-shop-sidebar.html">Shop</a>
                                            <ul>
                                                <li><a href="product-shop-sidebar.html">Sidebar</a>
                                                </li>
                                                <li><a href="product-shop-sidebar-left.html">Sidebar Left</a>
                                                </li>
                                                <li><a href="product-shop-centered.html">Centered</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="product-coupon-default.html">Coupon</a>
                                            <ul>
                                                <li><a href="product-coupon-default.html">Default</a>
                                                </li>
                                                <li><a href="product-coupon-meta-right.html">Meta right</a>
                                                </li>
                                                <li><a href="product-coupon-gallery.html">Gallery</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="features-typography.html">Features</a>
                                    <ul>
                                        <li><a href="features-typography.html">Typography</a>
                                        </li>
                                        <li><a href="features-elements.html">Elements</a>
                                        </li>
                                        <li><a href="features-grid.html">Grid</a>
                                        </li>
                                        <li><a href="features-icons.html">Icons</a>
                                        </li>
                                        <li><a href="features-image-hover.html">Image Hovers</a>
                                        </li>
                                        <li><a href="features-sliders.html">Sliders</a>
                                        </li>
                                        <li><a href="features-media.html">Media</a>
                                        </li>
                                        <li><a href="features-lightbox.html">Lightbox</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="blog-sidebar-right.html">Blog</a>
                                    <ul>
                                        <li><a href="blog-sidebar-right.html">Sidebar Right</a>
                                        </li>
                                        <li><a href="blog-sidebar-left.html">Sidebar Left</a>
                                        </li>
                                        <li><a href="blog-full-width.html">Full Width</a>
                                        </li>
                                        <li><a href="post-sidebar-right.html">Post</a>
                                            <ul>
                                                <li><a href="post-sidebar-right.html">Sidebar Right</a>
                                                </li>
                                                <li><a href="post-sidebar-left.html">Sidebar Left</a>
                                                </li>
                                                <li><a href="post-full-width.html">Full Width</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="page-full-width.html">Pages</a>
                                    <ul>
                                        <li><a href="page-my-account-settings.html">My Account</a>
                                            <ul>
                                                <li><a href="page-my-account-settings.html">Settings</a>
                                                </li>
                                                <li><a href="page-my-account-addresses.html">Address Book</a>
                                                </li>
                                                <li><a href="page-my-account-orders.html">Orders History</a>
                                                </li>
                                                <li><a href="page-my-account-wishlist.html">Wishlist</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="page-full-width.html">Full Width</a>
                                        </li>
                                        <li><a href="page-sidebar-right.html">Sidebar Right</a>
                                        </li>
                                        <li><a href="page-sidebar-left.html">Sidebar Left</a>
                                        </li>
                                        <li><a href="page-faq.html">Faq</a>
                                        </li>
                                        <li><a href="page-about-us.html">About us</a>
                                        </li>
                                        <li><a href="page-team.html">Team</a>
                                        </li>
                                        <li><a href="page-cart.html">Shopping Cart</a>
                                        </li>
                                        <li><a href="page-checkout.html">Checkout</a>
                                        </li>
                                        <li><a href="page-404.html">404</a>
                                        </li>
                                        <li><a href="page-search.html">Search</a>
                                            <ul>
                                                <li><a href="page-search-black.html">Black</a>
                                                </li>
                                                <li><a href="page-search-white.html">White</a>
                                                </li>
                                                <li><a href="page-search-sticky.html">Sticky</a>
                                                </li>
                                                <li><a href="page-search-no-search.html">No Search</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="page-contact.html">Contact</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-6">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        </header>

        <!-- SEARCH AREA -->
        <form class="search-area form-group">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 clearfix">
                        <label>
                            <i class="fa fa-search"></i><span>I am searching for</span>
                        </label>
                        <div class="search-area-division search-area-division-input">
                            <input class="form-control" type="text" placeholder="Travel Vacation" />
                        </div>
                    </div>
                    <div class="col-md-3 clearfix">
                        <label>
                            <i class="fa fa-map-marker"></i><span>In</span>
                        </label>
                        <div class="search-area-division search-area-division-location">
                            <input class="form-control" type="text" placeholder="Boston" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-block btn-white search-btn" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END SEARCH AREA -->

        <div class="gap"></div>


        <!-- //////////////////////////////////
	//////////////END MAIN HEADER////////// 
	////////////////////////////////////-->


        <!-- //////////////////////////////////
	//////////////PAGE CONTENT///////////// 
	////////////////////////////////////-->



        <div class="container">
            @RenderBody()
        </div>


        <!-- //////////////////////////////////
	//////////////END PAGE CONTENT///////// 
	////////////////////////////////////-->



        <!-- //////////////////////////////////
	//////////////MAIN FOOTER////////////// 
	////////////////////////////////////-->

        <footer class="main">
            <div class="footer-top-area">
                <div class="container">
                    <div class="row row-wrap">
                        <div class="col-md-3">
                            <a href="index.html">
                                <img src="/Content/img/logo.png" alt="logo" title="logo" class="logo">
                            </a>
                            <ul class="list list-social">
                                <li>
                                    <a class="fa fa-facebook box-icon" href="#" data-toggle="tooltip" title="Facebook"></a>
                                </li>
                                <li>
                                    <a class="fa fa-twitter box-icon" href="#" data-toggle="tooltip" title="Twitter"></a>
                                </li>
                                <li>
                                    <a class="fa fa-flickr box-icon" href="#" data-toggle="tooltip" title="Flickr"></a>
                                </li>
                                <li>
                                    <a class="fa fa-linkedin box-icon" href="#" data-toggle="tooltip" title="LinkedIn"></a>
                                </li>
                                <li>
                                    <a class="fa fa-tumblr box-icon" href="#" data-toggle="tooltip" title="Tumblr"></a>
                                </li>
                            </ul>
                            <p>Facilisis neque taciti congue laoreet nullam magnis dis cras nostra scelerisque curabitur a etiam conubia libero conubia sociis felis arcu</p>
                        </div>
                        <div class="col-md-3">
                            <h4>Sign Up to the Newsletter</h4>
                            <div class="box">
                                <form>
                                    <div class="form-group mb10">
                                        <label>E-mail</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <p class="mb10">Massa quis donec quisque praesent faucibus aliquet</p>
                                    <input type="submit" class="btn btn-primary" value="Sign Up" />
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h4>Couponia on Twitter</h4>
                            <!-- START TWITTER -->
                            <div class="twitter-ticker" id="twitter-ticker"></div>
                            <!-- END TWITTER -->
                        </div>
                        <div class="col-md-3">
                            <h4>Recent News</h4>
                            <ul class="thumb-list">
                                <li>
                                    <a href="#">
                                        <img src="/Content/img/70x70.png" alt="Image Alternative text" title="Urbex Esch/Lux with Laney and Laaaaag" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <p class="thumb-list-item-meta">Jul 18, 2014</p>
                                        <h5 class="thumb-list-item-title"><a href="#">Sagittis sodales</a></h5>
                                        <p class="thumb-list-item-desciption">Quam per sapien dui proin</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/Content/img/70x70.png" alt="Image Alternative text" title="AMaze" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <p class="thumb-list-item-meta">Jul 18, 2014</p>
                                        <h5 class="thumb-list-item-title"><a href="#">Fames consequat</a></h5>
                                        <p class="thumb-list-item-desciption">Convallis vestibulum vitae magnis vel</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/Content/img/70x70.png" alt="Image Alternative text" title="The Hidden Power of the Heart" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <p class="thumb-list-item-meta">Jul 18, 2014</p>
                                        <h5 class="thumb-list-item-title"><a href="#">Ullamcorper risus</a></h5>
                                        <p class="thumb-list-item-desciption">Convallis massa montes facilisis quis</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Copyright © 2014, Your Store, All Rights Reserved</p>
                        </div>
                        <div class="col-md-6 col-md-offset-2">
                            <div class="pull-right">
                                <ul class="list-inline list-payment">
                                    <li>
                                        <img src="/Content/img/payment/american-express-curved-32px.png" alt="Image Alternative text" title="Image Title" />
                                    </li>
                                    <li>
                                        <img src="/Content/img/payment/cirrus-curved-32px.png" alt="Image Alternative text" title="Image Title" />
                                    </li>
                                    <li>
                                        <img src="/Content/img/payment/discover-curved-32px.png" alt="Image Alternative text" title="Image Title" />
                                    </li>
                                    <li>
                                        <img src="/Content/img/payment/ebay-curved-32px.png" alt="Image Alternative text" title="Image Title" />
                                    </li>
                                    <li>
                                        <img src="/Content/img/payment/maestro-curved-32px.png" alt="Image Alternative text" title="Image Title" />
                                    </li>
                                    <li>
                                        <img src="/Content/img/payment/mastercard-curved-32px.png" alt="Image Alternative text" title="Image Title" />
                                    </li>
                                    <li>
                                        <img src="/Content/img/payment/visa-curved-32px.png" alt="Image Alternative text" title="Image Title" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- //////////////////////////////////
	//////////////END MAIN  FOOTER///////// 
	////////////////////////////////////-->



        <!-- Scripts queries -->
        <script src="/Content/js/jquery.js"></script>
        <script src="/Content/js/boostrap.min.js"></script>
        <script src="/Content/js/countdown.min.js"></script>
        <script src="/Content/js/flexnav.min.js"></script>
        <script src="/Content/js/magnific.js"></script>
        <script src="/Content/js/tweet.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="/Content/js/fitvids.min.js"></script>
        <script src="/Content/js/mail.min.js"></script>
        <script src="/Content/js/ionrangeslider.js"></script>
        <script src="/Content/js/icheck.js"></script>
        <script src="/Content/js/fotorama.js"></script>
        <script src="/Content/js/card-payment.js"></script>
        <script src="/Content/js/owl-carousel.js"></script>
        <script src="/Content/js/masonry.js"></script>
        <script src="/Content/js/nicescroll.js"></script>

        <!-- Custom scripts -->
        <script src="/Content/js/custom.js"></script>
        @RenderSection("scripts", required: false)
    </div>
</body>

</html>
