@{
    ViewBag.Title = "Return Policy";
}
<div class="gap"></div>
<h3>Return Policy</h3><br/>
All returned items must be in brand-new condition, unused and with original tags and packaging.
<br/><br/>
<b>If you aren’t satisfied with your purchase,</b> you may be eligible for a return or exchange depending on your situation and the type of item you purchased. We reserve the right to charge a handling fee on all items returned for non-quality issues.
<br/><br/>
<b>If we shipped you an incorrect item:</b> You have the option of 1) exchanging it for the correct item, or 2) returning it for a full refund. Customers must confirm their eligibility for an exchange or return with Customer Service before sending items back. In many cases, you have 7 days after receiving your order to contact Customer Service and request a return or exchange. Make sure to read the Product-Specific policies on product page for more details (when applicable) and exceptions.
<br/><br/>
<b>If we shipped you an item in the wrong color:</b> You are eligible for a full refund after Customer Service confirms you received the wrong color. Perceived color differences due to the display settings of your computer monitor are not grounds for a refund.
<br/><br/>
<b>If an item is missing from your order:</b> Contact Customer Service to inform us an item is missing from your order. When we have confirmed that an item was missing, we will offer a full refund of the item price or begin processing a new one for you.
<br/><br/>
<b>If your package is lost during shipping:</b> Contact Customer Service to inform us you didn't receive your package. Once we confirm with the courier that your package is lost, we will offer a refund or resend your items.
<br/><br/>
<b>If we shipped you a defective or damaged item:</b> You are eligible for a full refund or exchange. When requesting your refund, please be ready to provide Customer Service photographs clearly showing the problem with the item and its courier number as soon as possible. If you believe your item was damaged during shipping, Customer Service will need photographs showing the damaged packaging as well as "Proof of Damage" documentation to process your exchanging or refund. Alternatively, you can open the item in front of the delivery person and if you find that it was damaged during shipping, you can reject it. DealsWhat will ship you a new item immediately.
<br/><br/><br/><br/>

