<div class="gap"></div>

<h3>Frequently Asked Questions</h3>
<div class="row row-wrap">
    <div class="col-md-9">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse-1">What is DealsWhat?</a></h4>
                </div>
                <div class="panel-collapse collapse in" id="collapse-1">
                    <div class="panel-body">
                        <p>DealsWhat is an online shopping platform that is newly established in Malaysia. In  DealsWhat you are able to discover easy and pleasing shopping experience with our great  mix of big name stores and offerings.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse-2">What is your office contact?</a></h4>
                </div>
                <div class="panel-collapse collapse" id="collapse-2">
                    <div class="panel-body">
                        <p><u>Our telephone number</u><br/>03-22975258 <br/><br/></p>
                        <p><u>Our office address <br/></u>
                            D-109, Block D, Kelana Square, <br/>
                            Jalan SS7/26, Kelana Jaya,<br/>
                            47301 Petaling Jaya, <br/>
                            Selangor</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse-3">I like this deal. How do I purchase it?</a></h4>
                </div>
                <div class="panel-collapse collapse" id="collapse-3">
                    <div class="panel-body">
                        <p>You like our deal? Great. To make your purchase, click on the deal and we will bring you  to the deal information page. After that click on the Buy Now button and the deal will be  added to your cart. To find out how to perform a check out and pay for your deal, please  refer to "How do I perform check out?".</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse-4">How long is a deal available on the website?</a></h4>
                </div>
                <div class="panel-collapse collapse" id="collapse-4">
                    <div class="panel-body">
                        <p>A deal normally lasts for a period of 7 to 30 days. However the actual period may vary  according to stock availability.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse-5">I have made my purchase. How long is the delivery period?</a></h4>
                </div>
                <div class="panel-collapse collapse" id="collapse-5">
                    <div class="panel-body">
                        <p>So you have made your purchase? Awesome. Normally it takes 2 - 4 working days for your  items to arrive but it varies depending on the merchant. For more information on the  delivery period, please refer to the deal information page.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse-6">What are the supported payment methods?</a></h4>
                </div>
                <div class="panel-collapse collapse" id="collapse-6">
                    <div class="panel-body">
                        <p>We support credit / debit card and most of the local online banking transactions (Maybank2u, CIMB Clicks, PbeBank).</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse-7">DealsWhat is great! Can I also sell on DealsWhat?</a></h4>
                </div>
                <div class="panel-collapse collapse" id="collapse-7">
                    <div class="panel-body">
                        <p>Yes. Please send us an email with what you could offer to merchant@dealswhat.com.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse-8">How do I perform check out?</a></h4>
                </div>
                <div class="panel-collapse collapse" id="collapse-8">
                    <div class="panel-body">
                        <p>To perform a check out, first click on the cart icon located on the top right of the  screen then click on the Check Out button. You will then be asked for your delivery  address. After you have confirmed your delivery address, click Continue and you will be  redirected to our payment gateway to get your payment processed.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <aside class="sidebar-right">
            <h4>Still Have Questions?</h4>
            <form class="box">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>E-mail</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Question</label>
                    <textarea class="form-control"></textarea>
                </div>
                <input type="submit" class="btn btn-primary" value="Ask Question" />
            </form>
        </aside>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            setMenuActive("#nav-faq");
        });
    </script>
}