<div class="gap"></div>

<h3>About Us</h3>
<div class="row row-wrap">
    <div class="col-md-8">
        <!-- START BOOTSTRAP CAROUSEL -->
        <div id="my-carousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="active item">
                    <img src="~/Content/img/aboutus.png" alt="Image Alternative text" title="cascada" />
                </div>
                <div class="item">
                    <img src="~/Content/img/960x540.png" alt="Image Alternative text" title="waipio valley" />
                </div>
                <div class="item">
                    <img src="~/Content/img/960x540.png" alt="Image Alternative text" title="the best mode of transport here in maldives" />
                </div>
            </div>
            <a class="carousel-control left" href="#my-carousel" data-slide="prev"></a>
            <a class="carousel-control right" href="#my-carousel" data-slide="next"></a>
        </div>
        <!-- END BOOTSTRAP CAROUSEL -->
    </div>
    <div class="col-md-4">
        <h3>The Company</h3>
        <p>Elementum posuere natoque ridiculus himenaeos convallis blandit pulvinar torquent ullamcorper justo aptent metus interdum adipiscing sem lorem libero tempus non lorem inceptos libero molestie proin augue posuere dictumst vivamus sollicitudin consequat parturient lacinia mollis pellentesque molestie sapien massa rutrum ultrices facilisis netus lorem interdum pellentesque convallis dictumst blandit commodo vitae</p>
        <p>Tristique mus fringilla litora bibendum tristique nec lectus porttitor primis mus erat egestas consectetur magna purus nostra per blandit eros habitasse luctus nec odio inceptos cras pharetra egestas egestas pulvinar nisi taciti scelerisque tempus at tristique nibh ornare facilisi dictum nascetur orci accumsan aliquet dis velit lacinia feugiat libero dictum eros imperdiet scelerisque ipsum proin arcu dolor elit nascetur porta</p>
    </div>
</div>
<div class="gap gap-small"></div>
<div class="row row-wrap">
    <div class="col-md-4">
        <h3>Story</h3>
        <p>Cras rhoncus vitae cras natoque nec pharetra praesent vitae rhoncus tincidunt euismod faucibus ut fusce dis ante dapibus eleifend eu cursus at fames torquent consectetur praesent quisque taciti tempus pretium feugiat montes ultricies dapibus duis</p>
    </div>
    <div class="col-md-4">
        <h3>Mission</h3>
        <p>Risus duis parturient curae turpis eget eros habitasse risus ultricies nisl mollis proin ridiculus quisque ultricies nostra purus feugiat egestas rhoncus faucibus integer per aliquet laoreet nec vestibulum rhoncus netus vehicula gravida sapien pulvinar commodo</p>
    </div>
    <div class="col-md-4">
        <h3>Vision</h3>
        <p>Mauris lorem hac cras porttitor orci ipsum orci nostra orci iaculis pretium maecenas fermentum donec venenatis adipiscing adipiscing id litora leo netus taciti sed maecenas hendrerit conubia class gravida dignissim cubilia ultricies quam ipsum himenaeos</p>
    </div>
</div>
<div class="gap gap-small"></div>
<div class="row row-wrap">
    <div class="col-md-3">
        <h3>Behind the Scenes</h3>
        <p>Id ultrices tempor rutrum arcu nascetur ultricies sollicitudin arcu ultrices integer montes vitae platea ornare feugiat torquent condimentum mattis dapibus interdum tellus fringilla mollis nulla duis velit ipsum consequat suscipit primis enim a accumsan magna</p>
    </div>
    <div class="col-md-9">
        <div class="row row-no-gutter " id="popup-gallery">
            <div class="col-md-3">
                <!-- HOVER IMAGE -->
                <a class="hover-img popup-gallery-image" href="~/Content/img/800x600.png" data-effect="mfp-zoom-out">
                    <img src="~/Content/img/800x600.png" alt="Image Alternative text" title="4 Strokes of Fun" /><i class="fa fa-resize-full hover-icon"></i>
                </a>
            </div>
            <div class="col-md-3">
                <!-- HOVER IMAGE -->
                <a class="hover-img popup-gallery-image" href="~/Content/img/800x600.png" data-effect="mfp-zoom-out">
                    <img src="~/Content/img/800x600.png" alt="Image Alternative text" title="new york at an angle" /><i class="fa fa-resize-full hover-icon"></i>
                </a>
            </div>
            <div class="col-md-3">
                <!-- HOVER IMAGE -->
                <a class="hover-img popup-gallery-image" href="~/Content/img/800x600.png" data-effect="mfp-zoom-out">
                    <img src="~/Content/img/800x600.png" alt="Image Alternative text" title="Workspace" /><i class="fa fa-resize-full hover-icon"></i>
                </a>
            </div>
            <div class="col-md-3">
                <!-- HOVER IMAGE -->
                <a class="hover-img popup-gallery-image" href="~/Content/img/800x600.png" data-effect="mfp-zoom-out">
                    <img src="~/Content/img/800x600.png" alt="Image Alternative text" title="Hot mixer" /><i class="fa fa-resize-full hover-icon"></i>
                </a>
            </div>
            <div class="col-md-3">
                <!-- HOVER IMAGE -->
                <a class="hover-img popup-gallery-image" href="~/Content/img/800x600.png" data-effect="mfp-zoom-out">
                    <img src="~/Content/img/800x600.png" alt="Image Alternative text" title="Andrea" /><i class="fa fa-resize-full hover-icon"></i>
                </a>
            </div>
            <div class="col-md-3">
                <!-- HOVER IMAGE -->
                <a class="hover-img popup-gallery-image" href="~/Content/img/800x600.png" data-effect="mfp-zoom-out">
                    <img src="~/Content/img/800x600.png" alt="Image Alternative text" title="Happy Bokeh Day" /><i class="fa fa-resize-full hover-icon"></i>
                </a>
            </div>
            <div class="col-md-3">
                <!-- HOVER IMAGE -->
                <a class="hover-img popup-gallery-image" href="~/Content/img/800x600.png" data-effect="mfp-zoom-out">
                    <img src="~/Content/img/800x600.png" alt="Image Alternative text" title="Sleeping" /><i class="fa fa-resize-full hover-icon"></i>
                </a>
            </div>
            <div class="col-md-3">
                <!-- HOVER IMAGE -->
                <a class="hover-img popup-gallery-image" href="~/Content/img/800x600.png" data-effect="mfp-zoom-out">
                    <img src="~/Content/img/800x600.png" alt="Image Alternative text" title="Going out tonight" /><i class="fa fa-resize-full hover-icon"></i>
                </a>
            </div>
            <div class="col-md-3">
                <!-- HOVER IMAGE -->
                <a class="hover-img popup-gallery-image" href="~/Content/img/800x600.png" data-effect="mfp-zoom-out">
                    <img src="~/Content/img/800x600.png" alt="Image Alternative text" title="The Hidden Power of the Heart" /><i class="fa fa-resize-full hover-icon"></i>
                </a>
            </div>
            <div class="col-md-3">
                <!-- HOVER IMAGE -->
                <a class="hover-img popup-gallery-image" href="~/Content/img/800x600.png" data-effect="mfp-zoom-out">
                    <img src="~/Content/img/800x600.png" alt="Image Alternative text" title="Me with the Uke" /><i class="fa fa-resize-full hover-icon"></i>
                </a>
            </div>
            <div class="col-md-3">
                <!-- HOVER IMAGE -->
                <a class="hover-img popup-gallery-image" href="~/Content/img/800x600.png" data-effect="mfp-zoom-out">
                    <img src="~/Content/img/800x600.png" alt="Image Alternative text" title="The Big Showoff-Take 2" /><i class="fa fa-resize-full hover-icon"></i>
                </a>
            </div>
            <div class="col-md-3">
                <!-- HOVER IMAGE -->
                <a class="hover-img popup-gallery-image" href="~/Content/img/800x600.png" data-effect="mfp-zoom-out">
                    <img src="~/Content/img/800x600.png" alt="Image Alternative text" title="Playstation controller" /><i class="fa fa-resize-full hover-icon"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="gap gap-small"></div>
